*:not(.covid-banner) {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  background: #fff;
  color: #111;
  text-transform: capitalize;
}

img {
  max-width: 100%;
  height: 80%;
}

a {
  color: inherit;
  background: inherit;
  text-decoration: underline;
}

.container {

}

.links {
  background: #f7f7f7;
  text-decoration: underline; 
}

.covid-banner {
  background: #f7f7f7;
  color: #242424;
  padding: 10px;
  position: absolute;
  top: 0px;
  /* z-index: 1000; */
  width: 100%;
  text-align: center;
  height: 45px;
  font-weight: 500;
  font-family: "Helvetica Neue", Arial, sans-serif;
  border-bottom: 1px solid lightgrey;
  box-sizing: border-box;
}

.covid-banner a {
  text-decoration: underline;
}

.float-left ul li{
  padding: 0;
  /* border-right: 1px solid black;
  border-bottom: 1px solid black; */
}

.header-selections {
  margin-left: 20%;
}

.navbar {
  top: 20px;
  margin: 0;
  padding: 0;
}

.mx-auto {
  display: inline-flex;
}

.mx-auto.a:hover {

}

.jumbotron {
  text-align: center;
  box-shadow: inset #e5e5e5;
  height: 20px;
  background: #f7f7f7;
  color: #242424;
}

.home-pic {
  position: relative;
  width: 100%;
  height: 100%;
}

.caption {
  position: absolute;
  top: 40px;
  left: 40px;
  background-color: transparent;
}

.yoga-collection img {

}

.summer-products {
}

footer {
  background-color: #111;
}

#sign-up {
  text-decoration: none;
  color: #757575;
}

#sign-up:hover {
  color: #242424;
}

#jordans {
  color: #757575;
  text-decoration: none;
}

#jordans:hover {
  color: red;
}

#sign-up {
  text-decoration: none;
  color: #757575;
}

#sign-up:hover {
  color: #242424;
}

#ball {
  color: #757575;
  text-decoration: none;
}

#ball:hover {
  color: red;
}
