* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  background: #fff;
  color: #111;
}

a {
  color: inherit;
  background: inherit;
  text-decoration: underline;
}

.covid-banner {
  background: #f7f7f7;
  color: #242424;
  padding: 10px;
  position: absolute;
  top: 0px;
  /* z-index: 1000; */
  width: 100%;
  text-align: center;
  height: 45px;
  font-weight: 500;
  font-family: "Helvetica Neue", Arial, sans-serif;
  border-bottom: 1px solid lightgrey;
  box-sizing: border-box;
}

.navbar {
  position: relative;
  top: 45px !important;
}

.mx-auto {
  display: inline-flex;
}

.jumbotron {
  text-align: center;
}

#sign-up {
  text-decoration: none;
  color: #757575;
}

#sign-up:hover {
  color: #242424;
}

#ball {
  color: #757575;
  text-decoration: none;
}

#ball:hover {
  color: red;
}
